* {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body {min-width: 1350px;}

a {color: black;}

section {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.item-1 {
  background: url(../img/logo-roshen.png) no-repeat;
  background-position-x: 1em;
  padding-top: 96px;
  width: 200px;
  padding-left: 50px;
}

.item-1 h1 {padding-top: 48px;}

.item-1 p {position: absolute;}

.content {
  padding-right: 50px;
  padding-left: 40px;
}

.nav {
  display: inline-flex;
  margin-bottom: 45px;
}

.nav li {padding: 30px 10px;}

.nav li:last-of-type {padding-left: 3px;}

.elips a {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #aeaeae;
  display: block;
}

.nav .elips {
  padding-left: 0px;
  padding-right: 0px;
}

.photo {
  width: 100%;
  height: 355px;
  background: url(../img/picture.png) no-repeat center #aeaeae;
  background-position-y: 42px;
}

.text p {
  width: 75em;
  font-size: 13px;
  padding: 10px 0px;
  line-height: 23px;
}

.text h3 {padding: 40px 0px 25px;}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer ul {
  display: flex;
  padding-right: 50px;
  margin-bottom: 50px;
}

footer ul li {
  padding: 30px 50px;
}

footer .logo {
  background: url(../img/logo-roshen.png) no-repeat;
  background-position: top;
  width: 98px;
}

footer ul li {padding: 30px 76.5px;}

.FB-logo, .VK-logo {padding: 30px 2px;}

.contact li:nth-child(3) a:last-of-type {padding-left: 30px;}